@import "./common/index.scss";

html {
  position: relative;
  min-height: 100%;
}

.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
}

.app {
  padding-top: $nav-height;
  padding-bottom: $footer-height;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
}

.footer-info {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  line-height: $footer-height;
  width: 100%;
  background-color: $footer-color;
  p {
    line-height: $footer-height;
  }
}

.back-to-top {
  position: fixed;
  right: 3 * $paddin-width;
  bottom: $footer-height + $paddin-width;
  z-index: 999;
  button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    padding-top: 10px;
    border: 1px solid $light-gray;
    color: $gray;
    background: $white;
    &:hover {
      background: $light-gray;
    }
  }
}

// @each $le in 1, 1.5, 2, 2.5, 3 {
//   .margin-#{$le} {
//     margin: #{$le}rem;
//   }
//
//   .margin-top-#{$le} {
//     margin-top: #{$le}rem;
//   }
//
//   .padding-#{$le} {
//     padding: #{$le}rem;
//   }
//
//   .padding-bottom-#{$le} {
//     padding-bottom: #{$le}rem;
//   }
// }
