@import "~normalize.css";
@import "~github-markdown-css";
@import "./_var.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: transparent;
}

html {
  position: relative;
  min-height: 100%;
}

.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
}

.app {
  padding-top: $nav_height;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
}

.main {
  padding: $paddin_width 0;
  width: 80%;
  margin: 0 auto;
  max-width: 960px;
}

.footer-info {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer_height;
  line-height: $footer_height;
  width: 100%;
  background-color: $footer_color;
}

// @each $le in 1, 1.5, 2, 2.5, 3 {
//   .margin-#{$le} {
//     margin: #{$le}rem;
//   }
//
//   .margin-top-#{$le} {
//     margin-top: #{$le}rem;
//   }
//
//   .padding-#{$le} {
//     padding: #{$le}rem;
//   }
//
//   .padding-bottom-#{$le} {
//     padding-bottom: #{$le}rem;
//   }
// }

@import "bulma";
