//长度
$nav-height: 3.5rem;

$footer-height: 5rem;
$footer-color: whitesmoke;

$paddin-width: 1rem;
$margin-width: 1rem;

//颜色
$light-gray: #e9e9e9;
$gray: #8f8f8f;

$light-black: #454545;
$black: #000;
$dart-black:#333333;

$red: #ff0000;
$dark-red: #e31c24;

$white: #fff;
$brand: #59e591;
$sky: #2cadf0;
$blue: #056ef0;
$orange: #ffbf4d;
$purple: #f176a8;
$green: #82bc3f;
